body {
            display: flex;
            flex-direction: column;
            height: 100vh;
            margin: 0;
        }

        header {
            padding: 20px;
            text-align: center;
        }

        footer {
        text-align: center;
        }

        nav {
            background-color: #333;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 16px;
        }

        nav a {
            color: white;
            text-align: center;
            text-decoration: none;
        }

        nav a img {
            height: 50px;
            width: 50px;
            vertical-align: middle;
        }

        main {
            display: flex;
            flex: 1;
            flex-direction: column;
            padding: 20px;
            overflow: auto;
        }

        .calendar-container {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
            flex: 1;
        }
        td{
        position: relative;
            border: 1px solid #ddd;
            cursor: pointer;
            width: calc(100vw / 7);
            padding: 5px;
            transition: background-color 0.3s;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
            height: 80px;
            cursor: pointer;
            position: relative;
        }

        th {
            background-color: #f4f4f4;
        }
        td .date {
            position: absolute;
            top: 5px;
            right: 5px;
        }
        td.selected {
            background-color: #555;
            color: white;
        }

        .task-input {
            margin-top: 10px;
            display: flex;
            width: 100%;
            justify-content: center;
            display: none;
        }

        .task-input input {
            width: calc(100% - 22px);
            padding: 8px;
            margin-right: 10px;
        }

        .task-input button {
            padding: 8px 12px;
        }

        #taskList {
            width: 100%;
            margin-top: 20px;
            text-align: center;
        }